@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce-right {
    0%, 100% {
      transform: translateX(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateX(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

@layer base {

    body {
        @apply h-dvh grid grid-rows-12 grid-cols-12 dark:text-white;
    }
    body > * {
        @apply text-center;
    }
    select {
        @apply bg-transparent;
    }
    main, #skeleton {
        @apply grid grid-cols-12 col-span-12 row-span-10 font-mono max-h-full overflow-clip;
    }
    main > *, #skeleton > * {
      @apply col-start-3 col-end-11;
    }
    nav, footer {
        @apply col-start-3 col-end-11 row-span-1;
    }
    h1 {
      @apply 2xl:text-2xl;
    }
    h2 {
      @apply text-xl;
    }
  }
