@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce-right {
    0%, 100% {
      transform: translateX(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateX(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

@layer base {

    body {
        @apply h-screen grid grid-rows-12 grid-cols-12 dark:bg-gray-700 dark:text-white;
    }
    body > * {
        @apply col-start-3 col-end-11 text-center;
    }
    select {
        @apply bg-transparent;
    }
    main {
        @apply row-span-10 font-mono;
    }
    nav, footer {
        @apply row-span-1;
    }
    h1 {
      @apply text-2xl;
    }
    h2 {
      @apply text-xl;
    }
  }
