---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>LABEYE Loïc's website</title>
        <link rel="icon" type="image/png" href="./favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="keywords"
            content="LABEYE Loïc, Rust, Javascript, TotalEnergies, Allianz Trade, NextJS, Python, Web, Software Engineer, Azure, AWS, Cloud, Microsoft"
        />
        <meta
            name="description"
            content="This website showcases Loïc LABEYE's personal experiences and projects."
        />
        <meta name="robots" content="index, follow" />
        <link rel="robots" href="./robots.txt" />
        <script>
            import { scroll, animate } from "motion";

            const items = document.querySelectorAll(".whoami-container");

            // Animate gallery horizontally during vertical scroll
            scroll(
                animate(".whoami-group", {
                    transform: ["none", `translateX(-${items.length - 1}00vw)`],
                }),
                { target: document.querySelector(".whoami-group-container") },
            );

            // Progress bar representing gallery scroll
            scroll(animate(".progress", { scaleX: [0, 1] }), {
                target: document.querySelector(".whoami-group-container"),
            });
        </script>
    </head>

    <body class="snap-y overflow-y-scroll h-screen gap-y-4">
        <section
            class="snap-center bg-base-200 w-full flex justify-center items-center"
        >
            <!-- HERO -->
            <div class="hero-content text-center min-h-[98vh]">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold">LABEYE Loïc</h1>
                    <p class="py-6">
                        Welcome aboard my personal website. No worries, the
                        purpose isn't to spam you with a list of skill sets, it
                        will go straight to the matter.
                    </p>
                </div>
            </div>
        </section>
        <!-- WHOAMI -->
        <section class="whoami-group-container">
            <div>
                <ul class="whoami-group">
                    <li class="whoami-container">
                        <h2 class="text-5xl">Well, tell me more...</h2>
                    </li>
                    <li class="whoami-container">
                        <h2 class="text-3xl">Who am I ? 🤔</h2>
                        <div>
                            <p>I am 27 years old french software engineer.</p>
                        </div>
                    </li>
                    <li class="whoami-container">
                        <h2 class="text-3xl">Where did I study ? 🎓</h2>
                        <div class="text-center">
                            <p>
                                I had been studying for 5 years in ESIGELEC
                                Rouen.
                            </p>
                            <p>I graduated in 2021.</p>
                        </div>
                    </li>
                    <li class="whoami-container">
                        <h2 class="text-3xl">
                            What is my work experience ? 🧑🏼‍💻
                        </h2>
                        <div>
                            <p>
                                Right after being graduated, I have been working
                                for Allianz Trade for three years and half as
                                consultant on behalf of Aubay.
                            </p>
                        </div>
                    </li>
                    <li class="whoami-container">
                        <h2 class="text-3xl">Right, but what about now ? 🧐</h2>
                        <div>
                            <p>
                                Since February 2025, I have been working as a
                                fullstack software engineer for TotalEnergies in
                                Denmark.
                            </p>
                        </div>
                    </li>
                    <li class="whoami-container">
                        <h2 class="text-3xl">
                            Wait that's already the end ? 😮
                        </h2>
                        <p>Yes, but no worries, there is a recap below!</p>
                    </li>
                </ul>

                <div class="progress"></div>
            </div>
        </section>
        <!-- RECAP -->
        <section name="recap" class="h-dvh flex flex-col gap-2 p-4">
            <div class="flex gap-2">
                <div
                    class="card bg-base-200 shadow-sm w-full md:w-2/3 lg:w-5/6"
                >
                    <div class="card-body card-side space-x-4">
                        <div class="avatar">
                            <div
                                class="ring-primary ring-offset-base-100 w-24 rounded-full ring ring-offset-2"
                            >
                                <img
                                    src="./avatar.jpg"
                                    loading="lazy"
                                    alt="avatar"
                                />
                            </div>
                        </div>
                        <div class="flex flex-col gap-5">
                            <h2 class="text-3xl lg:text-8xl">LABEYE Loïc</h2>
                            <p>27 years old software engineer</p>
                            <p class="md:hidden">🇩🇰 Denmark</p>
                        </div>
                    </div>
                </div>
                <div
                    class="card bg-base-200 max-md:hidden w-1/3 lg:w-1/6 shadow-sm"
                >
                    <figure>
                        <img
                            loading="lazy"
                            src="./denmark.webp"
                            alt="Denmark flag"
                        />
                    </figure>
                    <div class="card-body">
                        <h2
                            class="card-title text-center justify-center h-full"
                        >
                            📌 Currently living in Denmark
                        </h2>
                    </div>
                </div>
            </div>
            <div class="w-full">
                <div class="card bg-base-200 shadow-sm w-full">
                    <div class="card-body overflow-x-auto max-w-full">
                        <ul class="timeline timeline-horizontal max-w-full">
                            <li>
                                <div class="timeline-start">
                                    Since February 2025
                                </div>
                                <div class="timeline-middle">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 20 20"
                                        fill="currentColor"
                                        class="h-5 w-5"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <div class="timeline-end timeline-box">
                                    Fullstack Developer in TotalEnergies
                                </div>
                                <hr />
                            </li>
                            <li>
                                <hr />
                                <div class="timeline-start">
                                    February 2025 - September 2021
                                </div>
                                <div class="timeline-middle">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 20 20"
                                        fill="currentColor"
                                        class="h-5 w-5"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <div class="timeline-end timeline-box">
                                    Consultant for Allianz Trade (Paris) on
                                    behalf of Aubay
                                </div>
                                <hr />
                            </li>
                            <li>
                                <hr />
                                <div class="timeline-start">April 2021</div>
                                <div class="timeline-middle">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 20 20"
                                        fill="currentColor"
                                        class="h-5 w-5"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <div class="timeline-end timeline-box">
                                    Graduated from ESIGELEC
                                </div>
                                <hr />
                            </li>
                            <li>
                                <hr />
                                <div class="timeline-start">Summer 2020</div>
                                <div class="timeline-middle">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 20 20"
                                        fill="currentColor"
                                        class="h-5 w-5"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <div class="timeline-end timeline-box">
                                    Internship at SustainEcho
                                </div>
                                <hr />
                            </li>
                            <li>
                                <hr />
                                <div class="timeline-start">2019</div>
                                <div class="timeline-middle">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 20 20"
                                        fill="currentColor"
                                        class="h-5 w-5"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <div class="timeline-end timeline-box">
                                    Erasmus Exchange in Brussels
                                </div>
                                <hr />
                            </li>
                            <li>
                                <hr />
                                <div class="timeline-start">2017</div>
                                <div class="timeline-middle">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 20 20"
                                        fill="currentColor"
                                        class="h-5 w-5"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <div class="timeline-end timeline-box">
                                    Summer student program in Dublin
                                </div>
                                <hr />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="flex flex-col md:flex-row gap-2">
                <div
                    class="w-full md:w-1/2 h-full flex flex-col justify-between"
                >
                    <div class="card bg-base-200 shadow-sm w-full h-full">
                        <div class="card-body max-w-full">
                            <h2 class="text-xl lg:text-3xl">Skills</h2>
                            <div class="flex gap-2 flex-wrap">
                                <div
                                    class="badge badge-soft badge-primary badge-md lg:badge-lg"
                                >
                                    AWS
                                </div>
                                <div
                                    class="badge badge-soft badge-primary badge-md lg:badge-lg"
                                >
                                    Azure
                                </div>
                                <div
                                    class="badge badge-soft badge-primary badge-md lg:badge-lg"
                                >
                                    Java
                                </div>
                                <div
                                    class="badge badge-soft badge-primary badge-md lg:badge-lg"
                                >
                                    Spring
                                </div>
                                <div
                                    class="badge badge-soft badge-primary badge-md lg:badge-lg"
                                >
                                    React
                                </div>
                                <div
                                    class="badge badge-soft badge-primary badge-md lg:badge-lg"
                                >
                                    Python
                                </div>
                                <div
                                    class="badge badge-soft badge-primary badge-md lg:badge-lg"
                                >
                                    Javascript
                                </div>
                                <div
                                    class="badge badge-soft badge-primary badge-md lg:badge-lg"
                                >
                                    DB2
                                </div>
                                <div
                                    class="badge badge-soft badge-primary badge-md lg:badge-lg"
                                >
                                    SQL
                                </div>
                                <div
                                    class="badge badge-soft badge-primary badge-md lg:badge-lg"
                                >
                                    NextJS
                                </div>
                                <div
                                    class="badge badge-soft badge-primary badge-md lg:badge-lg"
                                >
                                    Rust
                                </div>
                                <div
                                    class="badge badge-soft badge-primary badge-md lg:badge-lg"
                                >
                                    FastAPI
                                </div>
                                <div
                                    class="badge badge-soft badge-primary badge-md lg:badge-lg"
                                >
                                    Axum
                                </div>
                                <div
                                    class="badge badge-soft badge-primary badge-md lg:badge-lg"
                                >
                                    Agile methodology
                                </div>
                                <div
                                    class="badge badge-soft badge-primary badge-md lg:badge-lg"
                                >
                                    Software Architecture
                                </div>
                                <div
                                    class="badge badge-soft badge-primary badge-md lg:badge-lg"
                                >
                                    Websphere
                                </div>
                                <div
                                    class="badge badge-soft badge-primary badge-md lg:badge-lg"
                                >
                                    Hibernate
                                </div>
                                <div
                                    class="badge badge-soft badge-primary badge-md lg:badge-lg"
                                >
                                    Django
                                </div>
                                <div
                                    class="badge badge-soft badge-primary badge-md lg:badge-lg"
                                >
                                    TailwindCSS
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/2">
                    <div class="card bg-base-200 shadow-sm w-full">
                        <div class="card-body max-w-full">
                            <h2 class="text-xl lg:text-3xl">Certifications</h2>
                            <div
                                class="carousel carousel-center space-x-4 rounded-box"
                            >
                                <div
                                    class="carousel-item w-4/5 card bg-primary text-primary-content"
                                >
                                    <div class="card-body">
                                        <h2 class="card-title">
                                            AWS Certified Cloud Practitioner
                                        </h2>
                                        <p>Earned on 02/04/2025</p>
                                        <div class="card-actions justify-end">
                                            <a
                                                href="https://www.credly.com/badges/4420a690-8cba-48ad-bd4a-f20b12d44491/public_url"
                                                aria-label="AWS Certified Cloud Practitioner"
                                                target="_blank"
                                                ><button class="btn"
                                                    >Check it!</button
                                                ></a
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="carousel-item w-4/5 card bg-primary text-primary-content"
                                >
                                    <div class="card-body">
                                        <h2 class="card-title">
                                            Terraform Associate (003)
                                        </h2>
                                        <p>Earned on 21/03/2025</p>
                                        <div class="card-actions justify-end">
                                            <a
                                                href="https://www.credly.com/badges/06d18ae9-4e80-47d5-bf49-d8582fdacc39/public_url"
                                                aria-label="Terraform Associate (003)"
                                                target="_blank"
                                                ><button class="btn"
                                                    >Check it!</button
                                                ></a
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="carousel-item w-4/5 card bg-primary text-primary-content"
                                >
                                    <div class="card-body">
                                        <h2 class="card-title">
                                            SC-900 : Security, Compliance, and
                                            Identity Fundamentals
                                        </h2>
                                        <p>Earned on 05/03/2025</p>
                                        <div class="card-actions justify-end">
                                            <a
                                                href="https://learn.microsoft.com/api/credentials/share/en-us/llabeye/D3D2E5191ECE725A?sharingId=607BD74E791FA26E"
                                                aria-label="SC-900 : Security, Compliance, and Identity Fundamentals"
                                                target="_blank"
                                                ><button class="btn"
                                                    >Check it!</button
                                                ></a
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="carousel-item w-4/5 card bg-primary text-primary-content"
                                >
                                    <div class="card-body">
                                        <h2 class="card-title">
                                            AI-900 : Azure AI Fundamentals
                                        </h2>
                                        <p>Earned on 28/02/2025</p>
                                        <div class="card-actions justify-end">
                                            <a
                                                href="https://learn.microsoft.com/api/credentials/share/en-us/llabeye/4D546F07B9FC2D16?sharingId=607BD74E791FA26E"
                                                aria-label="AI-900 : Azure AI Fundamentals"
                                                target="_blank"
                                                ><button class="btn"
                                                    >Check it!</button
                                                ></a
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="carousel-item w-4/5 card bg-primary text-primary-content"
                                >
                                    <div class="card-body">
                                        <h2 class="card-title">
                                            AZ-900 : Azure Fundamentals
                                        </h2>
                                        <p>Earned on 23/02/2025</p>
                                        <div class="card-actions justify-end">
                                            <a
                                                href="https://learn.microsoft.com/api/credentials/share/en-us/llabeye/485804E946B9FB1D?sharingId=607BD74E791FA26E"
                                                aria-label="AZ-900 : Azure Fundamentals"
                                                target="_blank"
                                                ><button class="btn"
                                                    >Check it!</button
                                                ></a
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex gap-2 items-center">
                <div
                    class="w-2/3 md:w-1/4 h-full flex flex-col justify-center"
                    id="max-height-container"
                >
                    <div class="card bg-base-200 shadow-sm w-full h-full">
                        <div class="card-body max-w-full">
                            <h2 class="text-xl lg:text-3xl">Languages</h2>
                            <div class="flex gap-2 flex-wrap">
                                <div class="badge badge-soft badge-primary">
                                    French
                                </div>
                                <div class="badge badge-soft badge-primary">
                                    English
                                </div>
                                <div class="badge badge-soft badge-primary">
                                    German
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a
                    href="https://www.github.com/nag763"
                    class="w-1/6 md:w-1/4 flex justify-center items-center hover:opacity-80"
                    aria-label="GitHub"
                >
                    <img
                        class="w-1/2 md:w-1/4 light:hidden"
                        src="./github-mark-white.svg"
                        loading="lazy"
                        alt="gh_logo"
                    />
                    <img
                        class="w-1/2 md:w-1/4 dark:hidden"
                        src="./github-mark.svg"
                        loading="lazy"
                        alt="gh_logo"
                    />
                </a>
                <a
                    href="https://www.linked.in/labeyel"
                    class="w-1/6 md:w-1/4 flex justify-center items-center hover:opacity-80"
                    aria-label="LinkedIn"
                >
                    <img
                        class="w-1/2 md:w-1/4"
                        src="./linkedin.png"
                        loading="lazy"
                        alt="gh_logo"
                    />
                </a>
                <a
                    href="mailto:loic.labeye@pm.me"
                    class="w-1/6 md:w-1/4 flex justify-center items-center hover:opacity-80"
                    aria-label="Email"
                >
                    <img
                        class="w-1/2 md:w-1/4"
                        src="./outlook.svg"
                        loading="lazy"
                        alt="email"
                    />
                </a>
            </div>
        </section>
    </body>
</html>
