---
import ChatWrapper from "../components/ChatWrapper.jsx";

import "../styles/global.css";

if (!import.meta.env.LAMBDA_URL) {
    return new Response(null, {
        status: 404,
        statusText: 'Not Found'
    });
}
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>LABEYE Loïc's website</title>
        <link rel="icon" type="image/png" href="./favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="keywords"
            content="LABEYE Loïc, Rust, Javascript, TotalEnergies, Allianz Trade, NextJS, Python, Web, Software Engineer, Azure, AWS, Cloud, Microsoft"
        />
        <meta
            name="description"
            content="Allows to chat with Loïc LABEYE's personal AI Agent."
        />
        <meta name="robots" content="index, follow" />
        <link rel="robots" href="./robots.txt" />
    </head>

    <body class="bg-white dark:bg-black text-black dark:text-white antialiased">
        {/* Default body styles */}
        <main class="w-screen h-screen overflow-hidden">
            {/* Occupy full screen, hide potential scrollbars from body */}
            {
                /* AppWrapper itself doesn't need styling, its content will handle the layout */
            }
            <ChatWrapper client:load />
        </main>
    </body>
</html>
