---
import Bento from "../components/Bento.astro";
import Chat from "../components/Chat.astro";
import "../components/WhoAmiSlide.astro";
import WhoAmiSlide from "../components/WhoAmiSlide.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>LABEYE Lo誰c's website</title>
        <link rel="icon" type="image/png" href="./favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="keywords"
            content="LABEYE Lo誰c, Rust, Javascript, TotalEnergies, Allianz Trade, NextJS, Python, Web, Software Engineer, Azure, AWS, Cloud, Microsoft"
        />
        <meta
            name="description"
            content="This website showcases Lo誰c LABEYE's personal experiences and projects."
        />
        <meta name="robots" content="index, follow" />
        <link rel="robots" href="./robots.txt" />
    </head>

    <body
        class="snap-y overflow-y-scroll h-screen gap-y-4 drawer-content drawer-end  font-roboto"
    >
        <input id="my-drawer" type="checkbox" class="drawer-toggle"/>
        <section
            class="snap-center bg-linear-to-b from-info-content to-base w-full flex justify-center items-center"
        >
            <!-- HERO -->
            <div class="hero-content text-center min-h-[98vh]">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold">LABEYE Lo誰c</h1>
                    <p class="py-6">
                        Welcome aboard my personal website. No worries, the
                        purpose isn't to spam you with a list of skill sets, it
                        will go straight to the matter.
                    </p>
                    <label
                        for="my-drawer"
                        class="btn btn-primary rounded-xl drawer-button"
                        >Want to start a chat instead ?</label
                    >
                </div>
            </div>
        </section>
        <WhoAmiSlide />
        <Bento />
        <Chat />
    </body>
</html>
