@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";
@tailwind utilities;

.typing-dots .dot {
  display: inline-block; /* Ensures dots are on the same line */
  animation: typedots 1.4s infinite;
  opacity: 0;
  margin: 0 0.05em; /* Small spacing between dots */
}

.typing-dots .dot:nth-child(1) { animation-delay: 0s; }
.typing-dots .dot:nth-child(2) { animation-delay: 0.2s; }
.typing-dots .dot:nth-child(3) { animation-delay: 0.4s; }

@keyframes typedots {
  0% { opacity: 0; transform: translateY(0px); }
  20% { opacity: 1; transform: translateY(-2px); } /* Slight bounce effect */
  40% { opacity: 0; transform: translateY(0px); }
  100% { opacity: 0; transform: translateY(0px); }
}

@theme {
    --font-roboto: "Roboto", sans-serif;
}

.whoami-group-container {
    @apply h-[500vh] relative;
}

.whoami-group-container>div {
    @apply sticky top-0 overflow-hidden h-screen;
}

.whoami-group {
    @apply flex;
}

.whoami-container {
    @apply flex w-screen h-screen flex-none items-center justify-center flex-col gap-8 px-[20%];
}

.progress {
    @apply left-0 right-0 bg-[#9911ff] bottom-[50px];
}